.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  background-color: $colorFondoPortada;
  padding-top: 30px;
  text-align: center;

  .main-h2 {
    color: $colorFondo;
    font-size: 65px;
    display: flex;
    font-family: "Archivo Black", sans-serif;
  }

  .main-h3 {
    font-size: 65px;
  }

  .main-h1 {
    font-family: "Archivo Black", sans-serif;
    background: $colorPrincipal;
    color: $colorFondo;
    padding: 5px 20px;
    font-size: 55px;
  }
  .main-h1 .Typewriter__cursor {
    color: $colorFondo;
  }
  .main-p {
    color: $colorFondo;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
}

@media (max-width: 600) {
  #main {
    .main-h2 {
      font-size: 40px;
      font-family: "Archivo Black", sans-serif;
    }

    .main-h3 {
      font-size: 40px;
    }

    .main-h1 {
      font-size: 40px;
      font-family: "Archivo Black", sans-serif;
    }
    .main-p {
      color: $colorFondo;
      margin-top: 20px;
      font-size: 20px;
      font-weight: 300;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }
  }
}
