form {
  padding: 40px 0 80px;
  background-color: $colorLinea;
}

form div h3 {
  color: $colorPrincipal;
  margin: 20px 0 40px;
  font-size: 50px;
}

form div p {
  color: $colorFondo;
}

form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

form div input {
  width: 600px;
  height: 45px;
  margin: 10px 0 5px;
}

form div textarea {
  margin: 10px 0 5px;
  width: 600px;
  height: 100px;
}
