@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap");

$colorFondoPortada: #191716;
$colorFondo: #f5f5f5;
$colorClasico: #080808;
$colorPrincipal: #127475;
$colorLinea: #080808;
$sombra: 2px 0px 0px rgba(0, 0, 0, 0.39);

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: $colorFondo;
  font-family: "Open Sans", sans-serif;
}

.botonWp {
  position: fixed;
  top: 85%;
  left: 90%;
  cursor: pointer;
  z-index: 99;
}

.botonWp a img {
  width: 50px;
  z-index: 10;
}

@import "components/nav/nav";
@import "components/portada/portada";
@import "components/skills/skills";
@import "components/trabajos/trabajos";
@import "components/contact//form";
